.custom-container.info {
  border-color: #5288EF;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
  background-color: var(--c-tip-bg);
  color: var(--c-tip-text);
}