@import "bootstrap/scss/functions";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1280px
);

@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

@import 'bootstrap/scss/bootstrap-grid';

*, *::before, *::after {
  box-sizing: border-box;
}

@media (min-width: 480px) {

  .home-row {
    display: flex;
    gap: 16px;
  }

  .double-box {
    box-sizing: border-box;
    padding: 30px;
    width: 640px;
    height: 320px;

    background: #FFFFFF;
    border: 1px solid #FCFAFE;
    /* Subtle */

    box-shadow: 0px 10px 10px rgba(249, 246, 254, 0.5);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title {
    font-family: Inter;
    font-weight: 400;
    font-size: 40px;
  }

  .slug {
    font-family: Inter;
    font-weight: 400;
    font-size: 22.5px;
  }

  .home-header {
    display: flex;

  }
}

// mobile
@media (max-width: 480px) {
  .title {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
  }

  .slug {
    font-family: Inter;
    font-weight: 300;
    font-size: 14px;
  }

  .home-row {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
  }

  .double-box {
    box-sizing: border-box;
    padding: 30px;
    width: 320px;
    height: 320px;

    background: #FFFFFF;
    border: 1px solid #FCFAFE;
    /* Subtle */

    box-shadow: 0px 10px 10px rgba(249, 246, 254, 0.5);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn-container {
    display: none;
  }
}

@media (min-width: 1000px) {
  .background-image {
    background-size: cover;
  }
}

a:hover {
  text-decoration: none;
}

.custom-container.info {
  border-color: #5288EF;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
  background-color: var(--c-tip-bg);
  color: var(--c-tip-text);
}

.background-image {
  background: url("background.svg") no-repeat center center fixed;
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-weight: 200
}



.home-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: #7E48EA;
  border-radius: 999px;
  width: 230px;
  height: 64px;
  font-style: normal;
  color: #fff;
  margin-top: 75px;
}

.home-box {
  box-sizing: border-box;
  padding: 30px;
  width: 320px;
  height: 320px;

  background: #FFFFFF;
  border: 1px solid #FCFAFE;
  /* Subtle */

  box-shadow: 0px 10px 10px rgba(249, 246, 254, 0.5);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-box-title {
  font-family: Inter;
  font-size: 22.65px;
  font-weight: 500;
}

.home-box-slug {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}

.home-box-note {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  color: #1D1D1D;
}

.double-box-feature-user {
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  color: #1D1D1D;

}

.double-box-feature-text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  color: #1D1D1D;
}

html.dark {
  .home-box {
    background: #2D3648;
    box-shadow: none;
  }

  .double-box {
    background: #2D3648;
    box-shadow: none;
  }

  .home-box-title {}

  .home-box-slug {
    color: #999999;
  }

  .home-box-note {
    color: #F8F8F8;
  }

  .double-box-feature-user {
    color: #F8F8F8;
  }

  .double-box-feature-text {
    color: #F8F8F8;
  }
}